body {
  font-family: sans-serif;
  margin: 0px;
  font-size:12pt; 
  line-height:1.5em;
}




x3d { width:100%; aspect-ratio: 1/1;}



textarea {
  font-size : 10pt;
  font-family : monospace;
  width:100%;
}

button {
    font-size : 12pt;
    border-radius:10px;
    color : black;
    background-color:#EEE;
    width : auto;
    padding : 5px;
}
