body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size:12pt; 
      margin-top:1em; 
      margin-left:1em;
      margin-right:1em;
      line-height:1.5em;
}



.canvas-width  {width:512px;}
.canvas-height {height:512px; }
x3d { border:2px solid gray; }



textarea {
  font-size : 10pt;
  font-family : monospace;
  width:100%;
}

button {
    font-size : 12pt;
    border-radius:10px;
    color : black;
    background-color:#EEE;
    width : auto;
    padding : 5px;
}

#example-manifests-list button {
    background-color: transparent;
    font-size : 12pt;
    border : none;
    text-decoration: underline ;
    color : blue;
    display : block ;
}

#example-manifests-list button:active {
    background-color : #EEE ;
}
